body {
    overflow-x: hidden;
    font-family: 'Open Sans', Helvetica, sans-serif;
    height: 100%;

}
html {
    height: 100%;
}
.box {

    background-color: #efeeff;
    position: relative;
}

.content{
    background-color: white;
    text-align: center;

}
.text-container{
    margin: 10%;

}
#moduleContent{
    text-align: center;
}
.row{
    height: 100%;
    margin-bottom: 0;
    top: 20px

}
.list-group-item{

    background-color: #f5f5ff;
}
.row > [class*='col-'] {
    height: 100%;
    min-height: 100%;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.my-sidebar{
    height: 100%;

}




.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group{
    padding-right: 15px;
    padding-left: 15px;
    list-style-type: none;
    height: inherit;
}

.navbar{
    margin-bottom: 0px;
    background-color: #6f7081;
    min-height: 80px;
    border-radius: 0px;
    border: 1px;
    box-shadow: 0px -3px 2px 4px #999;
    color: white;
}

.navbar-header{
    width: 100%;

}
.navbar-right{
    position: absolute;
    right: 1.5%;
}



.navbar-default{
    color: black;
}


.navbar-brand{
    color: #fff !important;
    font: bold 34px 'Open Sans', cursive;
}

/*
.a.list-group-item{
    color: #c0c0c0;

}*/
/*
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 30px;
    background: transparent;
    border:0;
    list-style-type: none;
    color: #c0c0c0;
    font-family: 'Raleway', sans-serif !important;
    text-align: center;
}*/


/*
a.menu-item.list-group-item:hover, a.menu-item.list-group-item:focus{
    box-shadow:inset 4px 0 0 #01bac4;
    color:#444444 !important;
    background-color:#fff;
}*/




/*
.btn{
    margin-bottom: 0px !important;
    border-radius: 0px;
    color: inherit;
    background-color:#eee;
    font: 15px 'Raleway', sans-serif;
    letter-spacing: 2px;
    height: 100%;
    border: 0px ;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.5s ease-out;
}
.btn:hover, .btn:active, .btn:focus{
    box-shadow:inset 0 -76px 0 #ffffff;
    color:#444444;
    background-color:#01bac4;

}*/

/*
*/
