<template name="navBar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Edu-IT
                </a>
                <button type="button" class="btn btn-default editor-page">EditorPage</button>
                <button class="btn btn-default navbar-link add-file" href="#">AddFile</button>
                <button class="btn btn-default navbar-link collaborative" href="#">Collaborative</button>
            </div>
            {{#if currentUser}}
                <p>You are logged in. </p>
            {{/if}}
            <div class="navbar-right">{{> loginButtons}}</div>
        </div>
    </nav>
</template>