<template name="navBar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="/">
                    Edu-IT
                </a>
                <div class="nav-buttons">
                <button id="editorPage" type="button" class="btn btn-default editor-page" href="/editorPage">EditorPage</button>
                <button id="fileUpload" class="btn btn-default navbar-link add-file" href="/fileUpload">AddFile</button>
                <button id="collaborative" class="btn btn-default navbar-link collaborative" href="#">Collaborative</button>
                <button id="about" class="btn btn-default navbar-link collaborative" href="/about">About</button>
                {{#if isTeacher}}
                    <button id="teacherPanel" class="btn btn-default navbar-link collaborative" href="/teacherPanel">Panel Nauczyciela</button>
                {{/if}}
                </div>
            </div>

            <div class="navbar-right">{{> loginButtons}}</div>
        </div>
    </nav>
</template>