<template name="navBar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Edu-IT
                </a>
                <button type="button" class="btn btn-default">Left</button>
                <a class="navbar-link about" href="#">about</a>
                <a class="navbar-link hello" href="#">hello</a>
                <a class="navbar-link editor-page" href="#">EditorPage</a>
                <a class="navbar-link add-file" href="#">AddFile</a>
                <a class="navbar-link collaborative" href="#">Collaborative</a>
            </div>
            {{#if currentUser}}
                <p>You are logged in. </p>
            {{/if}}
            <div class="navbar-right">{{> loginButtons}}</div>
        </div>
    </nav>
</template>